<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">GymSystem</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Add Member">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Add Member
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="View Members">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> View Members
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Add Trainer">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Add Trainer
            </NavLink>
        </div>
         <div class="nav-item px-3">
            <NavLink class="nav-link" href="View Trainers">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> View Trainers 
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Register For Class">
                <span class="" aria-hidden="true"></span> Registster for class 
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Check In Member">
                <span class="" aria-hidden="true"></span> Check In Member
            </NavLink>
        </div>
    </nav>
</div>
